<ul>
  <% @submissions.each do |sub| %>
  <li>
    <%= link_to sub.title, sub.link %>
    <%= sub.comments.order(created_at: :desc).first["comment"] %>
    <%= link_to "Delete", "/submissions/#{sub.id}", method: 'delete' %>
    <%= link_to "Comments", comments_url(submission_id: "#{sub.id}")  %>
  </li>
  <% end %>
</ul>
