* {
  box-sizing: border-box;
}

nav {
  width: 980px;
  margin-left: none;
  margin-right: none;
  background-color: #CEE3F8
}

nav img {
  width: 15%;
  background-color: #CEE3F8
}

ul {
  list-style-type: none;

}

ul a:link {
    text-decoration: none;
}
